<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAH_Brlt417_744awQ7aFRRS8u0arn0zg</string>
	<key>GCM_SENDER_ID</key>
	<string>908735037929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>swift.Smart-Inventory</string>
	<key>PROJECT_ID</key>
	<string>smartinventory-5eba9</string>
	<key>STORAGE_BUCKET</key>
	<string>smartinventory-5eba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908735037929:ios:102343488cc499fb414b78</string>
</dict>
</plist>